<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pares E Impares</title>
</head>
<body>
  <h1>Hola</h1>
  <% 1.upto(50) do |num|%>
  <% if num % 2 == 0 %>
  <p><strong><%= "#{num}" "Soy Par!" %></strong></p>
  <% else %>
  <p><strong><%= "#{num}" "Soy Impar!" %></strong></p>
  <%end%>
  <%end%>
 </body>
</html>